*{
    text-align: left;
    color: darkgray;
    padding: 20px 80px;
    margin: 0px;
}
table th{
    background-color: grey;
}
table td{
    background-color: white;
    font-weight: bold;
    border: 1px groove grey;
}
.sombreado td{
    background-color: rgb(92, 87, 87);
    border: 0px;
}