*{
    color: #0000aa;
    margin: 0;
    padding: 0;
}
pregunta {
    background-color: #ffff00;
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
}
*.pregunta{
    background-color: #ffff00;
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
}
p.pregunta{
    background-color: #ffff00;
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
}